.wrapperTL {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    position: relative;
    .redirectToColor {
        color: rgb(128, 128, 128);
        font-size: 12px;
        position: absolute;
        top: 65%;
        left: 0;
    }
}
.trafficLights {
    height: 168px;
    width: 58px;
    border: 1px solid black;
    background-color: rgb(160, 160, 160);
}
.trafficColor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 3px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}
.offRed {
    background-color: rgb(75, 0, 0);
}
.offYellow {
    background-color: rgb(100, 102, 0);
}
.offGreen {
    background-color: rgb(9, 53, 0);
}
.redOn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 0, 0);
    border-radius: 50%;
}
.yellowOn {
    width: 100%;
    height: 100%;
    background-color: rgb(175, 164, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.greenOn {
    width: 100%;
    height: 100%;
    background-color: rgb(18, 121, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
